@font-face {
    font-family: 'circular-bold';
    src: url('fonts/CircularStd-Bold.otf');
    font-weight:normal;
}

@font-face {
    font-family: 'proxima';
    src: url('fonts/Proxima Nova Alt Regular.otf');
    font-weight:normal;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

section {
  width: 100%;
  display: table;
  margin: 0;
  max-width: none;

  height: 100vh;
  overflow: hidden;
    
}

.top-bar {
    background-color: black;
    z-index: 1000;
    opacity: .8;
    width: 100%;
    height: 85px;
    position: fixed;
    top: 0;
    left: 0;
    
}

.main-photo {
  position: absolute;
  overflow: hidden;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#cost-saving {
   background-image: url("images/cost_saving.jpg");
    width: 600px;
    height: 300px;
    top: 250px;
    left: -30px;  
    
}
#useless-scene-depth {
    background-image: url("images/useless_depth.jpg");
    width: 400px;
    height: 300px;
    top: 250px;
    left: 150px;
}

#useful-scene-depth {
    background-image: url(images/useful_depth.jpg);
    width: 400px;
    height: 300px;
    top: 550px;
    left: 150px;
}

#post-wach {
    background-image: url(images/post-wach-revolution.jpg);
    height: 150px;
    width: 200px;
    top: 230px;
    
}

#pre-wach {
    background-image: url(images/pre-wach-revolution.jpg);
    height: 150px;
    width: 200px;
    top: 10px;
}

#incoherent {
    background-image: url(images/incoherent.jpg);
    height: 375px;
    width: 330px;
    left: 310px;
}

#coherent {
    background-image: url(images/coherent.jpg);
    height: 340px;
    width: 450px;
    left: -160px;
    top: 400px;
}

#red {
    background-image: url(images/Viewshed_Photo_Red.jpg);
    width: 240px;
    height: 100px;
    top: 60px;
    left: 500px;
}


#yellow {
    background-image: url(images/Viewshed_Photo_Yellow.jpg);
    width: 240px;
    height: 100px;
    top: 175px;
    left: 500px;
}


#green {
    background-image: url(images/Viewshed_Photo_Green.jpg);
    width: 240px;
    height: 100px;
    top: 290px;
    left: 500px;
}

#light-level {
    background-image: url(images/light-level.jpg);
    width: 550px;
    height: 400px;
    top: 100px;
    left: 100px;
}

#dark {
    background-image: url(images/Light_Level_4_Dark.jpg);
    width: 350px;
    height: 150px;
    top: 530px;
    left: -100px;
}

#inadequate {
    background-image: url(images/Light_Level_3_Inadequate.jpg);
    width: 350px;
    height: 150px;
    top: 530px;
    left: 300px;
}

#deficient {
    background-image: url(images/Light_Level_2_Deficient.jpg);
    width: 350px;
    height: 150px;
    top: 730px;
    left: -100px;
}

#adequate{
    background-image: url(images/Light_Level_1_Adequate.jpg);
    width: 350px;
    height: 150px;
    top: 730px;
    left: 300px;
}



#fullscreen {
  height: 1000px;
  width: 4000px;
  display: none;
  position: fixed;
  top: -500px;
  right: 0;
  bottom: 0;
  left: -750px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 200;
    
}

#fullscreen img {
  height: 700px;
  margin-top: 600px;
margin-left: 600px;
     cursor: pointer;
    z-index: 200;   
}


#fullscreen2 {
  height: 3000px;
  width: 4000px;
  display: none;
  position: fixed;
  top: -600px;
  right: 0;
  bottom: 0;
  left: -750px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 200;
    
}

#fullscreen2 img {
  height: 700px;
  margin-top: 400px;
  margin-left: 700px;
     cursor: pointer;
    z-index: 200;   
}

#fullscreen3 {
  height: 3000px;
  width: 4000px;
  display: none;
  position: fixed;
  top: -600px;
  right: 0;
  bottom: 0;
  left: -750px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
    
}

#fullscreen3 img {
  height: 700px;
  margin-top: 600px;
  margin-left: 700px;
    cursor: pointer;
    z-index: 1000;   
}

#fullscreen4 {
  height: 3000px;
  width: 4000px;
  display: none;
  position: fixed;
  top: -600px;
  right: 0;
  bottom: 0;
  left: -750px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
    
}

#fullscreen4 img {
  height: 500px;
  margin-top: 700px;
  margin-left: 450px;
    cursor: pointer;
    z-index: 1000;   
}

#fullscreen5 {
  height: 3000px;
  width: 4000px;
  display: none;
  position: fixed;
  top: -600px;
  right: 0;
  bottom: 0;
  left: -750px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
    
}

#fullscreen5 img {
  height: 400px;
  margin-top: 600px;
  margin-left: 550px;
    cursor: pointer;
    z-index: 1000;   
}

#fullscreen6 {
  height: 3000px;
  width: 4000px;
  display: none;
  position: fixed;
  top: -600px;
  right: 0;
  bottom: 0;
  left: -750px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
    
}

#fullscreen6 img {
  height: 600px;
  margin-top: 670px;
  margin-left: 580px;
    cursor: pointer;
    z-index: 1000;   
}

#fullscreen7 {
  height: 3000px;
  width: 4000px;
  display: none;
  position: fixed;
  top: -600px;
  right: 0;
  bottom: 0;
  left: -750px;
  background-color: rgba(0, 0, 0, .6);
  z-index: 1000;
    
}

#fullscreen7 img {
  height: 370px;
  margin-top: 870px;
  margin-left: 580px;
    cursor: pointer;
    z-index: 1000;   
}

span {
   background:#F8F8F8;
    border: 5px solid #DFDFDF;
    color: #717171;
    font-family: proxima;
    height: 20px;
    width: 150px;
    padding: 5px;
    left: -30px;
    top: -20px;
    position: relative;
    text-align: center;
    display:none;
  
}

span:after {
    content:'';
    position:absolute;
    bottom:-10px; 
    width:10px;
    height:10px;
    border-bottom:5px solid #dfdfdf;
    border-right:5px solid #dfdfdf;
    background:#f8f8f8;
    left:50%;
    margin-left:-10px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg);
}


.download-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: fixed;
    left: 86%;
    top: 85%;
    z-index: 50;
    cursor: pointer;
}


.download-box:hover span {
     display:block;
}

.bottom-bar{
    background-color: #2d2d2d;
    width: 1000%;
    height: 155px;
    position: absolute;
    left: 0;
    padding-left: 10%;
    
}

.logo {
    position: relative;
    
}

.box {
    position:absolute;
    width: 100%;
    height: 60%;
    left: 50%;
    top: 350px;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

.center-box {
    position: absolute;
    width: 450px;
    height: 50%;
    left: 50%;
    top:1150px;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}

#green-title {
    display: inline-block;
    font-family:circular-bold;
    color: #00ad44;
    text-align: center;
    font-size:4em;
    margin-bottom: -40px;
    width: 100%;
}

#gray-title {
    display: inline-block;
    width: 100%;
    color: #c6c6c6;
    font-size: 2.5em;
    text-align:center;
    margin-bottom: -50px;
}

#bar-title {
    font-family: circular-bold;
    color: lightgray;
    font-size: 20px;
    margin-top: 20px;
    width: 300px;
    text-align:center;
}

#bar-text {
    font-family: proxima;
    color: lightgray;
    margin-top: -15px;
    width: 300px;
    text-align:center;
}

.logo-box {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    top: 80%;
    z-index: 0;
}

.title-box{
    height: 550px;
    width: 100%;
    top: 100px;
    background-color: white;
    z-index: 25;
    position: absolute;
}

.page-curl {
    position: relative;
    top:800px;
    left: 84%;
}

.sideMenu {
    position: absolute;
    width: 100%;
    height: 60px;
    margin-top: 50px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transition: all 3s;
    padding: 10px;    
}


#green-header{
    color: #00ad44;
    width: 80%;
    font-family: circular-bold;
    font-size: 2em;
    width: 90%;
    margin-bottom: -6px;
    margin-left: 90px;
    position: absolute;
    top: 0;
    left: 100px; 
}  

#picture-title {
    color: whitesmoke;
    z-index: 100;
    font-size: 1.3em;
    font-family: circular-bold;
    position: absolute;
    top: 35px;
    transform: translate(-50%,-50%);
    left: 35%;
    
}

#viewshed-title {
    color: #2d2d2d;
    font-family: circular-bold;
    font-size: 1.1em;
    z-index: 100;
    margin-top:-510px;
    margin-left: 360px;
    width: 100px;
    text-align: center;
}

#survey-title {
   color: whitesmoke;
    z-index: 100;
    font-size: 1.3em;
    font-family: circular-bold;
    position: absolute;
    top: 590px;
    transform: translate(-50%,-50%);
    left: 90px;
    width: 150px;
     text-align: center;
}

#picture-text {
    color: whitesmoke;
    z-index: 100;
    font-size: .9em;
    font-family: proxima;
    position: absolute;
    top: 85px;
    width: 300px;
    transform: translate(-50%,-50%);
    left: 35%;
    text-align: center;
}

.survey-box-box {
    width: 1000px;
    height: 400px;
    margin-top: 520px;
    margin-left: -25px;
}

.survey-box {
    width: 500px;
    height: 200px;
    margin-left: -90px;
    display: inline-block;
}
.text-circles{
    width: 150px;
    height: 150px;
    background-color: #37393f;
    border-radius: 50%;
    display: inline-block;
    margin-left: 35px;
    margin-bottom: 50px;
}

#gray-text {
    color: dimgray;
    font-family: proxima;
    position: absolute;
    top: 0;
    margin-top: 80px;
    width: 350px;
    left: 200px;
    text-align: center;
    
}
.hide2 {
  opacity:0;
  left: 200%;
}

.hide {
    opacity:0;
    left:-200%;
}
.show {
    opacity:1;
    left:40%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}

.show2 {
    opacity: 1;
    left: 30%;
}

.timeline-box {
    width: 800px;
    height: 400px;
    left: 70%;
    position: absolute;
    top: 450px;
    transform: translate(-50%, -50%);
}

.line {
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: relative;
    background-color: darkgray;
    width: 80%;
    height: 10px;
}

.circle {
    background-color: lightgray;
    width: 25px;
    height: 25px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    margin-top: -5px; 
}

.timeline-pix{
    width: 150px;
    height: 0px;
    display: inline-block;
    margin-left: 200px;
    margin-bottom: 70px;
}

#timeline-text{
    font-family: proxima;
    font-size: 1em;
    color: darkslategray;
    position: relative;
    display: inline-block;
    width: 100px;
    margin-top: -150px;
    margin-left: 250px;
}